/*STYLE BY NAZIK*/
body {
	font-family: 'Roboto Condensed', sans-serif;
}
hr {
	margin: 0;
}
/*STYLE FOR NAV*/
nav {
	background: transparent!important;
	border: none!important;
}
ul.nav {
	box-shadow: inset 0 0 150px 100px rgba(0,0,0,.2), 0 0 26px 5px rgba(0,0,0,.3);
}
.nav {
	margin-top: 15px;
}
.nav > li > a {
	padding: 10px 4px!important;
	color: #fff!important;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: transparent!important;
	color:#f00!important;
}
.navbar-brand {
	width: 200px;
	height: 60px;
	margin-top: 5px;
	background: url('../images/logo.png') no-repeat;
	background-size: 100%;

}
/*END NAV*/
/*SECTION-1*/
#fullpage .section {height: 100%!important}
#fullpage .section:first-child {
	background: url('../images/section1.jpg') no-repeat;
	background-size: 100%;
	color:#fff;
	text-transform: uppercase;
	z-index: 0!important;
}
#fullpage .section:first-child:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	/*background: rg(center, circle, rgba(0,0,0, .3), rgba(0,0,0, .1));*/
    background: -moz-radial-gradient(center, circle, rgba(0,0,0, .3), rgba(0,0,0, .0));
    background: -webkit-radial-gradient(center, circle, rgba(0,0,0, .3), rgba(0,0,0, .0));
    background: -o-radial-gradient(center, circle, rgba(0,0,0, .3), rgba(0,0,0, .0));
    background: -ms-radial-gradient(center, circle, rgba(0,0,0, .3), rgba(0,0,0, .0));
    background: radial-gradient(center, circle, rgba(0,0,0, .3), rgba(0,0,0, .0));
    z-index: -1;
}
.fp-tableCell {
	vertical-align: inherit!important;
}
.header_text {
	font-size: 46px;
	margin-top: 150px;
	word-spacing: 5px;
  	line-height: 60px;
}
.header_text .special {
	background: rgba(255,255,255, .7);
	color: #f00;
	padding: 5px;
  	margin: -5px;
}
/*button request*/
.btn-request {
	display: block;
	width: 217px;
	margin: 0 auto;
	margin-top: 100px;
	padding: 10px 15px;
	background: #f00;
	border-radius: 3px;
	font-size: 26px;
	font-weight: normal;
	color:#fff!important;
}
/*end button request*/
/*end section1*/
/*section 2*/
.news {
	border:none;
}
.news .caption {
	padding:9px 0;
}
.news h4 {
	margin-top: 0;
	margin-bottom: 5px;
}
.news hr {
	margin-bottom: 5px;	
}
.news p {
	font-size: 12px;
	margin-bottom: 5px;
}
.news p:last-child {
	color:#f00;
}

.steps {
	background: url('../images/section2.jpg') no-repeat;
	background-size: 100%;
	height: 47%;
	color:#fff;
}
.steps .h2 {
	margin-top: 15px;
}
.circle {
	height: 160px;
	width: 160px;
	margin: 0 auto;
	margin-top: 15px;
	border:2px solid  #fff; 
	border-radius: 50%;
}
.circle img {
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 27px;
	margin: auto;
}
.circle + p{
	font-size: 16px;
}
/*end section 2*/
/*my 'first' classes*/
.z_index_1 {
	z-index: 1!important;
}
.margin_top_10 {
	margin-top: 10px;
}
.margin_top_15 {
	margin-top: 15px;
}
.margin_top_20 {
	margin-top: 20px;
}
.margin_top_30 {
	margin-top: 30px;
}
.upper {
	text-transform: uppercase;
}
/*.font_size_46 {
	font-size: 46px;
}
.margin_top_150 {
	margin-top: 150px;
}*/